* {
  font-family: 'Courier New', Courier, monospace;
}

:root {
  --light: #f9eddd;
  --dark: #9bae6a; 
  --darker: #0a0807;
  --beige: #d8ad8c;
  --brown: #6C584C;
}

body {
  background-color: var(--light) !important;
  color: var(--darker) !important;
}

header {
  background: var(--dark);
}

.navbar {
  padding: 10px !important;
}

.navbar .navbar-brand {
  font-size: 35px;
  color: var(--light);
  padding: 10px
}
 
.navbar .navbar-brand:hover {
  color: var(--light);
  font-style: italic;
} 


.nav .nav-item .nav-link {
  color: var(--darker);
  font-weight: 500;
  font-size: 20px;
}

.nav .nav-item .nav-link:hover {
  font-style: italic;
}

.nav .nav-item .nav-link.active {
  color: var(--light);
  background-color: var(--dark);
}


.content {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.content img {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}


form {
  display: flex;
  flex-shrink: 2;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
}

.form-input {
  display: flex;
  flex-grow: 2;
  width: 100%;
  padding: 10px;
  margin: 5px;
}


.btn-primary {
  color: var(--light) !important;
  background-color: var(--dark) !important;
  border-color: #b0c57c !important;

}
.btn-primary:hover {
  color: #fff !important;
  background-color: var(--brown) !important;
  border-color: var(--beige) !important;
}

.contact {
  margin: 50px;
  align-items: center;
}

.contact li {
  list-style-type: none;
  padding: 20px;
  font-size: 20px;
}

.contact a {
  color: inherit;
  text-decoration: none;
}

.contact li a:hover {
  color: var(--dark)
}

.footer-contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-contact li {
  list-style-type: none;
}

.footer-contact a {
  padding: 10px;
}

.footer-contact .fa-icon {
  color: var(--brown)
}

.footer-contact .fa-icon:hover {
  color: var(--dark)
}

.form button {
  width: 50%;
}

.projects {
  flex: 4;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.card-content {
  padding: 10px;
  width: 100%;
}

.card img {
  margin: 2px auto;
  display:block;
  max-width: 350px;
  border: solid white 3px;
  border-radius: 8px;
}

.card img:hover {
  box-shadow: inset 0px 0px 8px
  var(--dark), 0 0 15px
  var(--dark);
}

.card {
  width:100% !important;
}

.card-buttons {
  display: flex;
  justify-content: center;
}

.card-buttons a {
  width: 50%;
  margin: 2px
}